.slogan{
    padding: 11px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;


    &__title{
        font-size: 12px;
        color: #fff;

    }
}